.DS_Store
.idea
*.log
tmp/

custom.el
user.el
user.org
settings.el
settings.org
user.org
user-init.el
user-packages.el
user.example.org
user-settings.el
user-snippets/*
user-snippets/**/*
!user-snippets/.keep
logo.png

user/init.el
user/config.el
user/packages.el

user/snippets/*
user/snippets/**/*
!user/snippets/.keep
